.getting-started__container {
  margin: 5em;
}
.getting-started__label {
  color: $--text-color;
  font-size: 1.6em;
  font-weight: 500;
}
.getting-started__description {
  color: $--text-color;
  font-size: 1.1em;
  font-weight: 400;
}
