@import './cover';
@import './widgets';
@import './service-card';
@import './service';

.admin__section {
  position: relative;
  & > div {
    margin: 2em;
  }
}
.admin__save {
  position: absolute;
  top: -77px;
  right: 10px;
}


.widget-editor__delete {
  position: absolute;
  right: 190px;
  top: -77px;
}
